

/* ---------------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------------- */


@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}

html,
body {

  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 300;
    background: #fff;
  text-rendering: optimizeLegibility;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  }


section {
    height: 100vh;
    overflow: hidden;
    margin-top: 5%;
}






/* ---------------------------------------------- */
/* REUSABLE */
/* ---------------------------------------------- */



    .row {
          max-width: 100%;
          margin: 0 auto;
      }



        h1 {
            margin-top: 0;
            margin-bottom: 20px;
            color: #fff;
            font-size: 240%;
            font-weight: 300;
            word-spacing: 4px;
            letter-spacing: 1px;
            text-transform: uppercase;
        }


        h2 {
            font-size: 170%;
            letter-spacing: 5px;
            text-align: center;
            margin-top: 5%;
            color: #74C8D2;
            margin-bottom: 5%;
    }

h2::after {
            display: block;
            height: 5px;
            background-color: #74C8D2;
            content: " ";
            width: 100px;
            border-radius: 5px;
            margin: 0 auto;
            margin-top: 20px;
        }




h4 {
    font-size: 90%;
    margin-bottom: 10%;
}


h5 {
    font-size: 70%;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 5%;
    margin-top: 10%;
}




        .icon-small {
        display: inline-block;
        width: 30px;
        text-align: center;
        font-size: 120%;
        margin-right: 10px;
        line-height: 120%;
        vertical-align: middle;
        margin-top: -5px;
    }


        .btn {
            width: 15%;
            margin-top: 4%;
            margin-right: 2%;
            color: #fff;
            background-color: #74C8D2;
            padding: 1%;
            border-radius: 5px;
            border: 2px solid transparent;
            text-decoration: none;
        }

        .btn:hover {
            background-color: #fff;
            color: #74c8d2;
            border: 2px solid #74C8D2;
            text-decoration: none;
            -webkit-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
        }



input[type=text] {
    font-size: 100%;
    text-transform: uppercase;
    color: #74C8D2;
}

::-webkit-input-placeholder {
    font-size: 100%;
    text-transform: uppercase;
    color: #74C8D2;
}

:-ms-input-placeholder {
    font-size: 100%;
    text-transform: uppercase;
    color: #74C8D2;
}

::placeholder {
    font-size: 100%;
    text-transform: uppercase;
    color: #74C8D2;
}



/*Botao para voltar ao form de pesquisa*/
.go-back-btn {
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    border: 0;
    color: #fff;
    background-color: #74C8D2;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}


.go-back-btn:hover {
    background-color: #fff;
    color: #74C8D2;
}

.go-back-btn i {
    display: block;
    font-size: 250%;
}








/*Botao para ver mais resultados*/
.see-more-btn {
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    border: 0;
    color: #fff;
    background-color: #74C8D2;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}


.see-more-btn:hover {
    background-color: #fff;
    color: #74C8D2;
}

.see-more-btn i {
    display: block;
    font-size: 250%;
}




/* Color scheme */

.color {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 250px;
    position: fixed;
    right: -160px;
    top: 20%;
    -webkit-transition: right 0.5s;
    transition: right 0.5s;
    z-index: 10000;
}



.btn-color {
    width: 100px;
    height: 80px;
    background-color: #74C8D2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    font-size: 150%;
    -webkit-transition: color 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;
    cursor: pointer;
    line-height: 0;
    border: 2px solid #74C8D2;
    z-index: 10000
}
.btn-color:hover {
    background-color: #fff;
    border: 2px solid #74C8D2;
    color: #74C8D2;
    z-index: 10000
}
#btn-color {
    display: none;
}
.palette {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 160px;
    margin: 0;
    padding: 1rem;
    background-color: #eee;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
        z-index: 10000
}
.palette h4 {
    margin: 0 0 15px;
    width: 100%;
    z-index: 10000
}
.palette .box {
    width: 100%;
    height: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    opacity: 0.65;
    z-index: 10000;
    -webkit-transition: background-color 350ms;
    transition: background-color 350ms;
}
.palette .box:hover {
    opacity: 1;
}
.palette .box.sunrise {
    background-color: #74C8D2;
}
.palette .box.mid-day {
    background-color: #0081C6;
}
.palette .box.sunset {
    background-color: #E55C3A;
}
.palette .box.night {
    background-color: #152342;
}


.divider {
    position: relative;
    content: '';
    bottom: -2%;
    margin: 0 auto;
    background-color: #d9d9d9;
    width: 50%;
    height: 2px;
}

input:checked + .color {
    right: 0;
}
input:checked + .color > .btn-color {
        background-color: #fff;
    color: #74C8D2;
}





/* ---------------------------------------------- */
/* HEADER */
/* ---------------------------------------------- */

/* Header img */
header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(116, 200, 210, 0.7)), to(rgba(0, 0, 0, 0))), url(../img/hero1.jpg);
    background-image: linear-gradient(rgba(116, 200, 210, 0.7), rgba(0, 0, 0, 0)), url(../img/hero1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}




/* Hero text box */
.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.logo-hero {
    position: absolute;
    left: -2.7%;
    top: -40%;
    width: 25%;
}

.search-bar {
    width: 30%;
    height: 50px;
    border: 0;
    background-color: transparent;
    border-bottom: 2px solid #fff;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}


.search-bar:focus {
    width: 30%;
    height: 50px;
    border: 0;
    background-color: transparent;
    border-bottom: 2px solid #74C8D2;
}


.search-bar::-webkit-input-placeholder {
    margin-left: 5%;
    font-size: 100%;
    text-transform: uppercase;
    color: #fff;
}


.search-bar:-ms-input-placeholder {
    margin-left: 5%;
    font-size: 100%;
    text-transform: uppercase;
    color: #fff;
}


.search-bar::placeholder {
    margin-left: 5%;
    font-size: 100%;
    text-transform: uppercase;
    color: #fff;
}

input[type=search] {
    font-size: 100%;
    text-transform: uppercase;
    color: #fff;
}


.search-button {
    width: 5%;
    height: 50px;
    color: rgba(0, 0, 0, 0.86);
    border: 0;
    background-color: #fff;
    border-bottom: 2px solid #fff;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}


.search-button:hover {
    width: 5%;
    height: 50px;
    color: #fff;
    border: 0;
    background-color: #74C8D2;
    border-bottom: 2px solid #74C8D2;
}




  /*FIRST NAVI*/


.first-menu {
    width: 100%;
    /* impede que os menus quebrem */
    text-align: center;
    z-index: 19999;
}


.first-menu > li {
    position: relative;
    list-style-type: none;
    display: inline-block;
    width: 15%;
    text-align: center;
    z-index: 5000;
}


.first-menu>li>a {
    font-size: 85%;
    font-weight: bold;
    padding: 30px 0;
    color: #fff;
    text-decoration: none;
    display: block;
    z-index: 5000;
    border-bottom: 2px solid transparent;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}


/* .first-menu>li>a:hover {
    border-bottom: 2px solid #74C8D2;
    color: #74C8D2;
} */











/*------sticky navi----*/




.menu,
.menu > li {
    margin: 0;
    padding: 0;
    z-index: 10000;
}

.menu {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background-color: #fff;
    width: 100%;
    /* impede que os menus quebrem */
    text-align: center;
    -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    z-index: 19999;
}

.logo {
    position: fixed;
    top: 1.1%;
    -webkit-transform: translateY(-4%);
    transform: translateY(-4%);
    float:  left;
    width: 210px;
    height: auto;
    overflow: hidden;
    margin-left: 5%;
    z-index: 10000;
}

.menu {
    text-align: right;
    padding: 0;
    z-index: 5000;
}

.menu > li {
    background-color: #fff;
    position: relative;
    list-style-type: none;
    display: inline-block;
    width: 14%;
    text-align: center;
    z-index: 5000;
}

.menu > li:last-child {
    margin-right: 5%;
    z-index: 5000;
}

.menu>li>a {
    font-size: 85%;
    font-weight: bold;
    padding: 20px 0;
    color: #74C8D2;
    text-decoration: none;
    display: block;
    z-index: 5000;
}




/* menu icon */
.menu>li>a>i {
    vertical-align: middle;
}



/* submenu */
.sub-menu {
    display: none;
    width: 100%;
    padding: 5px 0px;
    position: absolute;
    top: 100%;
    left: 0px;
    background: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /* transition: all .5s ease-in-out;*/
}



.sub-menu li {
    display: block;
    font-size: 75%;
    text-align: center;
}

.sub-menu li a {
    padding: 10px 30px;
    display: block;
    text-decoration: none;
    color: #74C8D2;
}









/*------Mobile navi----*/
.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}


.mobile-nav-icon i {
    font-size: 200%;
    color: #74C8D2;
}







/* SLIDER */

/*
.carousel{
  width:100%;
    clip-path: ellipse(100% 95% at 50% 0%);
    z-index: 4999;
}
.panes{
  width:500%;
    z-index: 4999;
}

.carousel{
    overflow:hidden;
    width:100%;
    z-index: 4999;
}
.panes{
    list-style:none;
    position:relative;
    width:500%; /* Number of panes * 100% */
  /*  overflow:hidden; /* This is used solely to clear floats, it does not add functionality. */

  /*  -moz-animation:carousel 60s infinite;
    -webkit-animation:carousel 60s infinite;
    animation:carousel 60s infinite;
    z-index: 4999;

}

.panes > li{
    position:relative;
    float:left;
    width:20%; /* 100 / number of panes */
  /*  z-index: 4999;
}
.carousel img{
    display:block;
    width:100%;
    max-width:100%;
    z-index: 4999;
}

@keyframes carousel{
    0%    { left:0; }
    11%   { left:0; }
    12.5% { left:-100%; }
    23.5% { left:-100%; }
    25%   { left:-200%; }
    36%   { left:-200%; }
    37.5% { left:-300%; }
    48.5% { left:-300%; }
    50%   { left:-400%; }
    61%   { left:-400%; }
    62.5% { left:-300%; }
    73.5% { left:-300%; }
    75%   { left:-200%; }
    86%   { left:-200%; }
    87.5% { left:-100%; }
    98.5% { left:-100%; }
    100%  { left:0; }
} */







/* ---------------------------------------------- */
/* SECTION SEARCH */
/* ---------------------------------------------- */

.section-search {
    background-color: white;
    margin-top: -2%;
    z-index: 2;
}

.steps-container {
    color: #000;
    width: 80%;
    margin: 0 auto;
}

.steps:first-child {
    margin-left: -2%;
    margin-right: 7%;
}

.steps:last-child {
    margin-right: -10%;
}

.steps>p {
    text-align: left;
    margin-top: 5px;
    letter-spacing: 1px;
    font-size: 90%;
}


.steps div {
    color: white;
    background-color: #74C8D2;
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
    margin-left: 5%;
    vertical-align: middle;
}


/*search box*/

.search-form {
    width: 80%;
    margin: 0 auto;
}


.search-field {
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    border: 2px solid #74C8D2;
    margin-top: 4%;
}



*:focus {
    outline: none;
}








/* ---------------------------------------------- */
/* SECTION ARTISTS */
/* ---------------------------------------------- */

.section-artists {
    padding: 0;
}

.artists-showcase {
    list-style: none;
    display: inline-block; /* Alinhamento centro */
    width: 110%;  /* Alinhamento centro */
    margin-left: -5%;  /* Alinhamento centro e full width */
    height: 100%;
    margin-top: 5%;

}


.artists-showcase li {
    display: block;
    -webkit-transform: skewX(-10deg);
    transform: skewX(-10deg);
    float: left;
    width: 25%;
    height: 100%;
}


.artist-photo {
    width: 100%;
    height: 100%;
    margin:0;
    overflow: hidden;
    background-color: #000;

}




.artist-photo img {
    opacity: 0.7;
    width: 150%;
    height: auto;
    -webkit-transform: scale(1.18) skewX(10deg); /* reverte o skew para a imagem ficar reta */
    transform: skewX(10deg);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s, filter 0.5s;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s, -webkit-filter 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s, -webkit-filter 0.5s;
    transition: transform 0.5s, opacity 0.5s, filter 0.5s;
    transition: transform 0.5s, opacity 0.5s, filter 0.5s, -webkit-transform 0.5s, -webkit-filter 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s, filter 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s, filter 0.5s;
}


/*.artist-photo img:hover {
//    opacity: 1;
//    -webkit-transform: scale(1.03) skewX(10deg);;
//    transform: scale(1.03) skewX(10deg);
//    filter: hue-rotate(250deg);
/*/




/* Container com texto e titulo */

.info-container {
    display: none;
    background: #fff;
    width: 200px;
    height: 100px;
    padding: 0;
    z-index: 1000;
    color: #000;
    position: absolute;
    top: 40%;
    left: 0%;
}
/* classe para corrigir apenas o primeiro Info */
.info-container.adjust{
    left: 15%;
}

.info-container.adjust>h4 {
    top: 25%;
    left: 20%;
}

.info-container.adjust>p {
    left: 20%;
    top: 55%;
}



.info-container>h4 {
    color: black;
    float: left;
    position: absolute;
    top: 25%;
    left: 10%;
    z-index: 1000;
}

.info-container>p {
    color: black;
    float: left;
    position: absolute;
    top: 55%;
    left: 10%;
    z-index: 1000;
}


/* .info-container:hover,
.info-container>h4:hover,
.info-container>p:hover {
    background-color: #fff;
    color: #000;
    transition: background-color 0.5s ease-in;
} */












/* ---------------------------------------------- */
/* SECTION ABOUT US */
/* ---------------------------------------------- */




.section-about {
    background-color: white;
}

.image {
    position: relative;
    width: 100%;
    height: 230px;
    top: 50%;
    overflow: hidden;
    margin-bottom: 3%;
}

.image img {
    width: 60%;
    margin-left: 20%;
    text-align: center;
}

.long-text p {
    width: 60%;
    line-height: 145%;
    margin: 0 auto;
    text-align: justify;

}







/* ---------------------------------------------- */
/* SECTION CONTACTS */
/* ---------------------------------------------- */

.section-contacts {
    background-color: white;
}

.contact-form {
    width: 80%;
    margin: 0 auto;
}


.contact-field {
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    border: 2px solid #74C8D2;
    margin-top: 4%;
}


.send-field {
    width: 100%;
    height: 326px;
    padding: 7px;
    border-radius: 5px;
    border: 2px solid #74C8D2;
    margin-top: 4%;
}


#custombtn {
    position: absolute;
    left: 50.8%;
    width: 39.2%;
    margin-top: -9px;
    color: #fff;
    background-color: #74C8D2;
    padding: 1.5%;
    border-radius: 5px;
    border: 2px solid transparent;
    cursor: pointer;
}
/*
#custombtn:hover {
    background-color: #fff;
    color: #74c8d2;
    border: 2px solid #74C8D2;
    transition: all 0.5s ease-in-out;
} */

#customtext {
    text-align: center;
    margin: 0 4%;
    width: 30%;
    position: absolute;
    margin-top: 10%;
}




*:focus {
    outline: none;
}

/* ---------------------------------------------- */
/* FOOTER */
/* ---------------------------------------------- */



footer {
   background-color: #333;
    padding:30px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    width: 12%;
    list-style: none;
    margin: 0 auto;
}

.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.social-links li:last-child {
    margin-right: 0;
}


.social-links li a:link,
.social-links li a:visited {
    color: #74C8D2;
    text-decoration: none;
    border-bottom: 0;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.copyright {
    color: #74C8D2;
}


/*------social links effect----*/

.social-links li a:link,
.social-links li a:visited {
    font-size: 150%;
}

.icon ion-logo-facebook,
.icon ion-logo-twitter,
.icon ion-logo-googleplus,
.icon ion-logo-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

/*HOVER EFFECT para os icones sociais*/
.icon ion-logo-facebook:hover {
    color: #3b5999;
}

.icon ion-logo-twitter:hover {
    color: #55acee;
}

.icon ion-logo-googleplus:hover {
    color: #dd4b39;
}

.icon ion-logo-instagram:hover {
    color: #e4405f;
}


footer p {
    color: #888;
    text-align: center;
    margin-top: 10px;
}










/* ---------------------------------------------- */
/* RESULTADO PESQUISA ARTISTA */
/* ---------------------------------------------- */


/*container da pesquisa*/
.div-pesquisa {
    position: absolute;
    z-index: 50000;
    top: 120.8%;
}


/*estilização do titulo "you searched for...*/
.div-pesquisa h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 100%;
    font-weight: 300;
    letter-spacing: 1px;
}



/*container da pesquisa*/
.pesquisa {
    list-style: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-top: 1%;
    top: -80%;
}


.pesquisa li {
    display: block;
    float: left;
    width: 20%;
    height: 240px;
}


/*imagem da musica do artista */
.music-img {
    width: 100%;
    height: 240px;
    margin:0;
    overflow: hidden;
    background-color: #666666;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.music-img:hover {
    background-color: #478B8D;
}

 /* ===== */
.pesquisa li figure i {
    position: relative;
    top: 55px;
    left: 40%;
    font-size: 400%;
    color: #74C8D2;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}


.pesquisa li figure i:hover {
    color: #fff;
}


/* --------- IMPORTANTE --------*/
/*info da musica (ANIMAR E FAZER COM QUE AO FAZER HOVER NA MUSICA APAREÇA*/
.info-music {
    margin: 0 auto;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.46)));
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.46));
    width: 100%;
    height: 100px;
    padding: 0;
    top: 22%;
    position: relative;
    z-index: 1000;
}

.info-music h6 {
    margin: 0 10px;
    color: #000;
    text-align: center;
    font-size: 80%;
    position: relative;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 300;
    top: 25%;
    z-index: 1000;
}




/*----------------Container dos botoes--------------------*/
.result-info {
    position: relative;
    list-style: none;
    display: inline-block;
    width: 100%;
    z-index: 1;
}


.result-info li {
    display: block;
    float: left;
    width: 33.33%;
    z-index: 1;
}

.result-info .btn-playlists {
            width: 100%;
            height: 240px;
            margin-top: -1%;
            color: #fff;
            border: 0;
            background-color: #67AEB4;
            text-decoration: none;
            -webkit-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
            z-index: 1;
        }




.result-info .btn-playlists:hover {
            background-color: #fff;
            color: #67AEB4;
            text-decoration: none;
            -webkit-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
            z-index: 1;
        }





.result-info .btn-albums {
            width: 100%;
            height: 240px;
            margin-top: -1%;
            color: #fff;
            border: 0;
            background-color: #54A5AC;
            text-decoration: none;
            -webkit-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
            z-index: 1;
        }




.result-info .btn-albums:hover {
            background-color: #fff;
            color: #54A5AC;
            text-decoration: none;
            -webkit-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
            z-index: 1;
        }






.result-info .btn-bio {
            width: 100%;
            height: 240px;
            margin-top: -1%;
            color: #fff;
            border: 0;
            background-color: #478B8D;
            text-decoration: none;
            -webkit-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
            z-index: 1;
        }




.result-info .btn-bio:hover {
            background-color: #fff;
            color: #478B8D;
            text-decoration: none;
            -webkit-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
            z-index: 1;
        }



.result-info li button i {
            display: block;
            font-size: 250%;
}














/* ---------------------------------------------- */
/* SEE MORE DO ARTIST */
/* ---------------------------------------------- */


/*container da pesquisa*/
.container-more-music {
    position: absolute;
    top: 120.8%;
    width: 100%;
}


/*estilização do titulo "you searched for...*/
.container-more-music h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 100%;
    font-weight: 300;
    letter-spacing: 1px;
}



/*container da pesquisa 1*/
.see-more-music {
    list-style: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-top: 1%;
    top: -80%;
}


.see-more-music li {
    display: block;
    float: left;
    width: 20%;
    height: 240px;
}





/* Container imagem da musica do artista */
.music-img {
    width: 100%;
    height: 240px;
    margin:0;
    overflow: hidden;
    background-color: #666666;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}


.music-img:hover {
    background-color: #47888D;
}


 /* img do artista */
.see-more-music li img {
    width: 100%;
    height: 100%;
}

.see-more-music li figure i {
    position: relative;
    top: 55px;
    left: 40%;
    font-size: 400%;
    color: #74C8D2;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}


.see-more-music li figure i:hover {
    color: #fff;
}









/*---------------------player---------------------*/

.btn-player {
    position:relative;
    top: 100%;
    width: 100%;
    height: 70px;
    top: -0.08%;
    color: #fff;
    background-color: #74C8D2;
    border: 2px solid transparent;
    text-decoration: none;
    z-index: 90000;
        }

.btn-player:hover {
    background-color: #fff;
    color: #74c8d2;
    border: 2px solid #74C8D2;
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    z-index: 90000;
        }

.player{
  position: absolute;
    top: -29.5%;
  width: 100%;
  height: 100vh;
}
