

/* ---------------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------------- */


@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html,
body {

  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  display: flex;
  flex-direction: column;
  }


section {
    height: 100vh;
    overflow: hidden;
    margin-bottom: 5%;
    margin-top: 5%;
}






/* ---------------------------------------------- */
/* REUSABLE */
/* ---------------------------------------------- */



    .row {
          max-width: 100%;
          margin: 0 auto;
      }


        h1 {
            font-size: 170%;
            letter-spacing: 5px;
            text-align: center;
            margin-top: 5%;
            color: #74C8D2;
            margin-bottom: 5%;
    }


        h1:after {
            display: block;
            height: 5px;
            background-color: #74C8D2;
            content: " ";
            width: 100px;
            border-radius: 5px;
            margin: 0 auto;
            margin-top: 20px;
        }

        .icon-small {
        display: inline-block;
        width: 30px;
        text-align: center;
        font-size: 120%;
        margin-right: 10px;
        line-height: 120%;
        vertical-align: middle;
        margin-top: -5px;
    }


        .btn {
            width: 15%;
            margin-top: 4%;
            color: #fff;
            background-color: #74C8D2;
            padding: 1%;
            border-radius: 5px;
            border: 2px solid transparent;
            
        }

        .btn:hover {
            background-color: #fff;
            color: #74c8d2;
            border: 2px solid #74C8D2;
            transition: all 0.5s ease-in-out;
        }


/*divisor*/

/*
section.divider::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 51%;
  background: #fff;
  -webkit-transform: skew(0deg, 6deg);
  -moz-transform: skew(0deg, 6deg);
  -ms-transform: skew(0deg, 6deg);
  -o-transform: skew(0deg, 6deg);
  transform: skew(0deg, 6deg);
    z-index: -1;
    top: 102%;
}

section.divider:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: #fff;
  -webkit-transform: skew(0deg, -6deg);
  -moz-transform: skew(0deg, -6deg);
  -ms-transform: skew(0deg, -6deg);
  -o-transform: skew(0deg, -6deg);
  transform: skew(0deg, -6deg);
    z-index: -1;
    top: 102%;
}​
*/
    


    

/* ---------------------------------------------- */
/* HEADER */
/* ---------------------------------------------- */


    
  /*FIRST NAVI*/
.menu,
.menu > li {
    margin: 0;
    padding: 0;
}

.menu {
    background-color: #fff;
    width: 100%;
    /* impede que os menus quebrem */
    text-align: center;
}

.logo {
    position: absolute;
    top: 1.1%;
    transform: translateY(-5%);
    float:  left;
    width: 210px;
    height: auto;
    overflow: hidden;
    margin-left: 5%;
}

.menu {
    text-align: right;
    padding: 0;
}

.menu > li {
    background-color: #fff;
    position: relative;
    list-style-type: none;
    display: inline-block;
    width: 14%;
    text-align: center;
}

.menu > li:last-child {
    margin-right: 5%;
}

.menu>li>a {
    font-size: 85%;
    font-weight: bold;
    padding: 20px 0;
    color: #74C8D2;
    text-decoration: none;
    display: block;
}

//*.menu>li>a:hover {
//    color: #fff;
//    background-color: #74C8D2;
//    transition: all .5s ease-in-out;
/*/

.menu>li>a::after,
.menu>li>a::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    content: "";
    opacity: 0;
}

.menu>li>a::after {
    top: 100%;
    background: -webkit-radial-gradient(50% -50%, ellipse, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at 50% -50%, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
}

.menu>li>a::before {
    top: -5px;
    background: -webkit-radial-gradient(50% 150%, ellipse, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at 50% 150%, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
}

.menu>li>a:hover::after,
.menu>ul>li>a:hover::before {
    opacity: 1;
}

.menu>li>a>i {
    vertical-align: middle;
}



/* submenu */

.sub-menu {
    width: 100%;
    padding: 5px 0px;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 1;
    opacity: 0;
    transition: all .5s ease-in-out;
    background: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.menu li:hover .sub-menu {
    opacity: 1;
}


.sub-menu li {
    display: block;
    font-size: 75%;
    text-align: center;
}

.sub-menu li a {
    padding: 10px 30px;
    display: block;
    text-decoration: none;
    color: #74C8D2;
}

/*.sub-menu li a:hover,
.sub-menu .current-item a {
    background: #74C8D2;
    color: #fff;
    transition: .5s ease-in-out;
} */



/* SLIDER */


.carousel{
  width:100%;
    clip-path: ellipse(100% 95% at 50% 0%);
}
.panes{
  width:500%;
}

.carousel{
    overflow:hidden;
    width:100%;
}
.panes{
    list-style:none;
    position:relative;
    width:500%; /* Number of panes * 100% */
    overflow:hidden; /* This is used solely to clear floats, it does not add functionality. */
        
    -moz-animation:carousel 60s infinite;
    -webkit-animation:carousel 60s infinite;
    animation:carousel 60s infinite;
    
}
.panes > li{
    position:relative;
    float:left;
    width:20%; /* 100 / number of panes */
}
.carousel img{
    display:block;
    width:100%;
    max-width:100%;
}

@keyframes carousel{
    0%    { left:0; }
    11%   { left:0; }
    12.5% { left:-100%; }
    23.5% { left:-100%; }
    25%   { left:-200%; }
    36%   { left:-200%; }
    37.5% { left:-300%; }
    48.5% { left:-300%; }
    50%   { left:-400%; }
    61%   { left:-400%; }
    62.5% { left:-300%; }
    73.5% { left:-300%; }
    75%   { left:-200%; }
    86%   { left:-200%; }
    87.5% { left:-100%; }
    98.5% { left:-100%; }
    100%  { left:0; }
}










/* ---------------------------------------------- */
/* SECTION SEARCH */
/* ---------------------------------------------- */

.section-search {
    background-color: white;
    margin-top: -2%;
    opacity: 80%;
    z-index: 2;
}

.steps-container {
    color: #000;
    width: 80%;
    margin: 0 auto;
}

.steps:first-child {
    margin-left: -2%;
    margin-right: 7%;
}

.steps:last-child {
    margin-right: -10%;
}

.steps>p {
    text-align: left;
    margin-top: 5px;
    letter-spacing: 1px;
    font-size: 90%;
}


.steps div {
    color: white;
    background-color: #74C8D2;
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px; 
    margin-left: 5%;
    vertical-align: middle;
}


/*search box*/

.search-form {
    width: 80%;
    margin: 0 auto;
}


.search-field {
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    border: 2px solid #74C8D2;
    margin-top: 4%;
}



*:focus {
    outline: none;
}








/* ---------------------------------------------- */
/* SECTION ARTISTS */
/* ---------------------------------------------- */

.section-artists {
    padding: 0;
} 

.artists-showcase {
    list-style: none;
    display: inline-block; /* Alinhamento centro */
    width: 110%;  /* Alinhamento centro */
    margin-left: -5%;  /* Alinhamento centro e full width */
    height: 100%;
    margin-top: 5%; 

}


.artists-showcase li {
    display: block;
    transform: skewX(-10deg);
    float: left;
    width: 25%;
    height: 100%;
}


.artist-photo {
    width: 100%;
    height: 100%;
    margin:0;
    overflow: hidden;
    background-color: #000;

}




.artist-photo img {
    opacity: 0.7;
    width: 150%;
    height: auto;
    -webkit-transform: scale(1.18) skewX(10deg); /* reverte o skew para a imagem ficar reta */
    transform: skewX(10deg);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s, filter 0.5s;
    transition: transform 0.5s, opacity 0.5s, filter 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s, filter 0.5s;  
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s, filter 0.5s;  
}


/*.artist-photo img:hover {
//    opacity: 1;
//    -webkit-transform: scale(1.03) skewX(10deg);;
//    transform: scale(1.03) skewX(10deg);
//    filter: hue-rotate(250deg);
/*/




/* Container com texto e titulo */

.info-container {
    display: none;
    background: #fff;
    width: 200px;
    height: 100px;
    padding: 0;
    z-index: 1000;
    color: #000;
    position: absolute;
    top: 50%;
    left: 0%;
}
/* classe para corrigir apenas o primeiro Info */
.info-container.adjust{
    left: 15%;
}

.info-container.adjust>h4 {
    top: 25%;
    left: 20%;
}

.info-container.adjust>p {
    left: 20%;
    top: 55%;
}



.info-container>h4 {
    color: transparent;
    float: left;
    position: absolute;
    top: 25%;
    left: 10%;
    z-index: 1000;
}

.info-container>p {
    color: transparent;
    float: left;
    position: absolute;
    top: 55%;
    left: 10%;
    z-index: 1000;
}


.info-container:hover,
.info-container>h4:hover,
.info-container>p:hover {
    background-color: #fff;
    color: #000;
    transition: background-color 0.5s ease-in;
}












/* ---------------------------------------------- */
/* SECTION ABOUT US */
/* ---------------------------------------------- */




.section-about {
    background-color: white;
}

.image img {
    width: 40%;
    margin: 0 auto;
}

.long-text p {
    width: 60%;
    line-height: 145%;
    margin: 0 auto;
    text-align: justify;
    
}







/* ---------------------------------------------- */
/* SECTION CONTACTS */
/* ---------------------------------------------- */

.section-contacts {
    background-color: white;
}

.contact-form {
    width: 80%;
    margin: 0 auto;
}


.contact-field {
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    border: 2px solid #74C8D2;
    margin-top: 4%;
}


.send-field {
    width: 100%;
    height: 326px;
    padding: 7px;
    border-radius: 5px;
    border: 2px solid #74C8D2;
    margin-top: 4%;
}


#custombtn {
    position: absolute;
    margin: 0 4%;
    width: 30%;
    margin-top: 3.9%;
    color: #fff;
    background-color: #74C8D2;
    padding: 1%;
    border-radius: 5px;
    border: 2px solid transparent;
    cursor: pointer;
}

#custombtn:hover {
    background-color: #fff;
    color: #74c8d2;
    border: 2px solid #74C8D2;
    transition: all 0.5s ease-in-out;
}

#customtext {
    text-align: center;
    margin: 0 4%;
    width: 30%;
    position: absolute;
    margin-top: 10%;
}




*:focus {
    outline: none;
}

/* ---------------------------------------------- */
/* FOOTER */
/* ---------------------------------------------- */


footer::before {
   border-top: 10px solid #74C8D2;
    height: 5px;
}

footer {
   background-color: #333;
    padding:30px; 
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    width: 10.85%;
    list-style: none;
    margin: 0 auto;
}

.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.social-links li:last-child {
    margin-right: 0;
}


.social-links li a:link,
.social-links li a:visited {
    color: #74C8D2;
    text-decoration: none;
    border-bottom: 0;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.copyright {
    color: #74C8D2;
}


/*------social links effect----*/

.social-links li a:link,
.social-links li a:visited {
    font-size: 150%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

/*HOVER EFFECT para os icones sociais*/
.ion-social-facebook:hover {
    color: #3b5999;
}

.ion-social-twitter:hover {
    color: #55acee;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #e4405f;
}


footer p {
    color: #888;
    text-align: center;
    margin-top: 10px;
}
